/* 2 */
.paragraph {
    color: hotpink;
    background-color: rgb(225, 202, 202);
    font-weight: bolder;
    font-size: 30px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table td,
.table th {
    border: 3px solid #0651ff;
    padding: 20px;
    height: 40px;
}